@font-face {
  font-family: 'Graphik';
  src: url("../assets/fonts/Graphik-Black.ttf") format("truetype");
  font-weight: 900; }
@font-face {
  font-family: 'Graphik';
  src: url("../assets/fonts/Graphik-Bold.ttf") format("truetype");
  font-weight: 700; }
@font-face {
  font-family: 'Graphik';
  src: url("../assets/fonts/Graphik-Medium.ttf") format("truetype");
  font-weight: 400; }
@font-face {
  font-family: 'Graphik';
  src: url("../assets/fonts/Graphik-Light.ttf") format("truetype");
  font-weight: 300; }
html, body {
  margin: 0;
  padding: 0;
  font-family: "Graphik", sans-serif; }

h2 {
  line-height: 76px;
  font-size: 66px;
  font-weight: 900; }
  @media (max-width: 768px) {
    h2 {
      font-size: 45px !important;
      line-height: 52px !important; } }
  @media (max-width: 576px) {
    h2 {
      font-size: 28px !important;
      line-height: 32px !important; } }

h3 {
  line-height: 62px;
  font-size: 54px;
  font-weight: 900; }
  @media (max-width: 768px) {
    h3 {
      font-size: 45px !important;
      line-height: 52px !important; } }
  @media (max-width: 576px) {
    h3 {
      font-size: 27px !important;
      line-height: 31px !important; } }

h4 {
  font-size: 24px;
  font-weight: 900;
  line-height: 28px; }
  @media (max-width: 768px) {
    h4 {
      font-size: 20px !important;
      line-height: 28px !important; } }
  @media (max-width: 576px) {
    h4 {
      font-size: 16px !important;
      line-height: 28px !important; } }

.container {
  padding-left: 30px !important;
  padding-right: 30px !important; }
  @media (max-width: 480px) {
    .container {
      padding-left: 15px !important;
      padding-right: 15px !important; } }

.slide-to:hover {
  outline: 0;
  text-decoration: none;
  color: unset; }

.main-text, .first-block .bottom-text, .what-is-tael-block p, .flow-block p, .advantages-section .advantages-block p, .loyalty-system-section .loyalty-system-blocks p, .meet-team-section a, .news-section .news-block p, .contact-section p {
  line-height: 33px;
  font-size: 22px;
  font-weight: 300; }
  @media (max-width: 768px) {
    .main-text, .first-block .bottom-text, .what-is-tael-block p, .flow-block p, .advantages-section .advantages-block p, .loyalty-system-section .loyalty-system-blocks p, .meet-team-section a, .news-section .news-block p, .contact-section p {
      font-size: 18px;
      line-height: 27px; } }
  @media (max-width: 576px) {
    .main-text, .first-block .bottom-text, .what-is-tael-block p, .flow-block p, .advantages-section .advantages-block p, .loyalty-system-section .loyalty-system-blocks p, .meet-team-section a, .news-section .news-block p, .contact-section p {
      font-size: 15px;
      line-height: 22px; } }

.default-btn, .red-btn, .blue-btn {
  height: 45px;
  padding: 0 30px;
  color: #FFFFFF;
  font-family: "Graphik", sans-serif;
  font-weight: 400;
  text-align: center;
  border: none;
  outline: 0;
  cursor: pointer;
  box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.280571);
  border-radius: 6px; }
  .default-btn:hover, .red-btn:hover, .blue-btn:hover {
    background-color: #681D7E; }

.red-btn {
  background-color: #FF5847; }

.blue-btn {
  background-color: #5661E8; }

.main-logo {
  display: flex;
  align-items: center; }
  @media (max-width: 480px) {
    .main-logo {
      justify-content: center; } }

.main-logo p {
  margin-left: 20px;
  margin-bottom: 0;
  padding-left: 15px;
  padding-bottom: 5px;
  border-left: 2px solid white;
  color: white;
  font-size: 25px;
  font-weight: bold;
  line-height: 25px; }
  @media (min-width: 1025px) {
    .main-logo p {
      width: 15%; } }
  @media (max-width: 410px) {
    .main-logo p {
      width: 148px; } }

.main-logo img {
  width: 27%; }

.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  padding: 5vh 30px 0;
  z-index: 101; }
  .main-nav .logo {
    margin-right: 34px;
    display: inline-block; }
  .main-nav nav {
    display: inline-block; }
    .main-nav nav a {
      text-decoration: none;
      color: #FFFFFF;
      font-weight: 400;
      margin-right: 25px;
      padding-bottom: 7px; }
      .main-nav nav a:nth-last-child(1) {
        margin-right: 0; }
      .main-nav nav a:hover {
        color: #681D7E; }
    .main-nav nav a.active {
      border-bottom: 2px solid #FFFFFF;
      cursor: default;
      pointer-events: none; }
      .main-nav nav a.active:hover {
        color: #FFFFFF; }
    @media (max-width: 880px) {
      .main-nav nav {
        display: none; } }
  .main-nav .menu-icons {
    margin-top: 1px;
    float: right; }
    @media (max-width: 880px) {
      .main-nav .menu-icons {
        display: none; } }
  .main-nav .menu-icon {
    float: left;
    margin-top: -3px;
    margin-left: 50px; }
    .main-nav .menu-icon:nth-child(1) {
      margin-left: 25px; }
    .main-nav .menu-icon p {
      display: inline-block;
      position: relative;
      color: #FFFFFF;
      vertical-align: -1px;
      margin-left: 5px;
      font-weight: 400;
      cursor: pointer; }
      .main-nav .menu-icon p:before {
        content: '';
        position: absolute;
        left: -25px;
        top: 3px;
        width: 25px;
        height: 17px; }
      .main-nav .menu-icon p:hover {
        color: #681D7E; }
    .main-nav .menu-icon .login:before {
      background: url(../assets/images/login-icon.svg) left top/contain no-repeat; }
    .main-nav .menu-icon .login:hover:before {
      background: url(../assets/images/login-icon-hover.svg) left top/contain no-repeat; }
    .main-nav .menu-icon .lang:before {
      background: url(../assets/images/language-icon.svg) left top/contain no-repeat; }
    .main-nav .menu-icon .lang:hover:before {
      background: url(../assets/images/language-icon-hover.svg) left top/contain no-repeat; }
  .main-nav .nav-icon {
    display: none;
    width: 25px;
    height: 20px;
    position: relative;
    float: right;
    top: 0;
    background: url(../assets/images/menu-icon.svg) center/contain no-repeat;
    cursor: pointer; }
    .main-nav .nav-icon:hover {
      background: url(../assets/images/menu-icon-hover.svg) center/contain no-repeat; }
    @media (max-width: 880px) {
      .main-nav .nav-icon {
        display: block; } }
  .main-nav .show-menu {
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: -120vw;
    width: 100%;
    height: 100%;
    background: #5661E8;
    transition: 0.6s;
    overflow-x: hidden;
    opacity: 0; }
    .main-nav .show-menu .logo {
      position: absolute;
      top: 32px;
      left: 30px;
      cursor: pointer; }
  .main-nav .show-menu .close1 {
    position: absolute;
    top: 32px;
    right: 32px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: url(../assets/images/close-icon.svg) center/contain no-repeat;
    z-index: 99; }
    .main-nav .show-menu .close1:hover {
      background: url(../assets/images/close-icon-hover.svg) center/contain no-repeat; }
  .main-nav .show-menu .mobile-menu {
    position: relative;
    box-sizing: border-box;
    padding: 100px 60px 30px;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 98; }
    .main-nav .show-menu .mobile-menu .social-icons {
      display: none;
      box-sizing: border-box;
      position: absolute;
      bottom: 30px;
      width: calc(100% - 120px);
      height: 40px;
      justify-content: space-between; }
      .main-nav .show-menu .mobile-menu .social-icons a {
        width: 40px;
        height: 40px; }
        .main-nav .show-menu .mobile-menu .social-icons a:hover {
          text-decoration: none;
          opacity: 0.7; }
      @media (max-width: 640px) {
        .main-nav .show-menu .mobile-menu .social-icons {
          display: flex;
          width: calc(100% - 60px); } }
    @media (max-width: 640px) {
      .main-nav .show-menu .mobile-menu {
        padding: 100px 30px 30px; } }
  .main-nav .show-menu .mobile-menu .ll1 {
    float: left;
    width: 100%;
    text-align: left;
    display: flex;
    z-index: 9999;
    flex-flow: row wrap;
    align-content: space-between;
    flex-direction: column; }
  .main-nav .show-menu .mobile-menu .ll1 a {
    display: inline-block;
    margin-bottom: 15px;
    color: #FFFFFF;
    position: relative;
    font-size: 36px;
    font-weight: 900;
    cursor: pointer;
    text-decoration: none; }
    .main-nav .show-menu .mobile-menu .ll1 a:hover {
      color: #681D7E; }
    @media (max-width: 640px) {
      .main-nav .show-menu .mobile-menu .ll1 a {
        font-size: 28px; } }
  .main-nav .show-menu .mobile-menu .ll1 a.active {
    cursor: default;
    pointer-events: none; }
    .main-nav .show-menu .mobile-menu .ll1 a.active span {
      border-bottom: 2px solid #FFFFFF; }
    .main-nav .show-menu .mobile-menu .ll1 a.active:hover {
      color: #FFFFFF; }
  .main-nav .show-menu .mobile-menu .ll1 .nav-col-el:hover:after {
    height: 0; }
  .main-nav .bottom-mobile-menu {
    box-sizing: border-box;
    position: absolute;
    bottom: 50px;
    width: calc(100% - 120px);
    padding: 0 15px;
    height: 60px;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF; }
    .main-nav .bottom-mobile-menu .menu-icon {
      margin-top: 15px; }
      .main-nav .bottom-mobile-menu .menu-icon p {
        font-weight: 900; }
      .main-nav .bottom-mobile-menu .menu-icon:nth-child(1) {
        float: left; }
      .main-nav .bottom-mobile-menu .menu-icon:nth-child(2) {
        float: right; }
    @media (max-width: 640px) {
      .main-nav .bottom-mobile-menu {
        bottom: 100px;
        width: calc(100% - 60px); } }

.first-block {
  position: relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background: url(../assets/images/main-background.png) center/cover no-repeat;
  z-index: 100; }
  .first-block .row-text {
    width: 100%; }
    @media (max-width: 480px) {
      .first-block .row-text {
        align-self: flex-start !important;
        margin: 13vh auto 0;
        height: 85vh; } }
  @media (max-width: 480px) {
    .first-block .red-btn {
      position: absolute;
      width: 204px;
      bottom: 17px;
      left: 0;
      right: 0;
      display: block;
      text-align: center;
      margin: 0 auto; } }
  .first-block .container {
    position: relative; }
  .first-block .main-info {
    position: relative;
    z-index: 6; }
    @media (min-width: 1025px) {
      .first-block .main-info {
        margin-left: 8.333333%; } }
    @media (max-width: 480px) {
      .first-block .main-info {
        height: 100%; } }
  .first-block h2 {
    color: #FFFFFF; }
    .first-block h2 span {
      color: #FF5847; }
    @media (max-width: 480px) {
      .first-block h2 {
        font-size: 5vh !important;
        line-height: 5.7vh !important;
        margin-bottom: 0;
        text-align: center; } }
  .first-block .bottom-text {
    max-width: 400px;
    margin: 30px 0 36px;
    color: #FFFFFF; }
    @media (max-width: 550px) {
      .first-block .bottom-text {
        text-align: center;
        font-size: 2.5vh !important;
        line-height: 3.7vh !important;
        margin: 3.5vh 0 0; } }
  .first-block .outer-contact-icons {
    position: absolute;
    bottom: 0;
    z-index: 5;
    width: 100%;
    height: 18vh;
    background: linear-gradient(0deg, #5661E8 0%, rgba(238, 235, 245, 0) 100%); }
    .first-block .outer-contact-icons .contact-icons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 7vh auto 0;
      padding-left: 42px; }
      .first-block .outer-contact-icons .contact-icons a {
        text-decoration: none; }
        .first-block .outer-contact-icons .contact-icons a p {
          display: inline-block;
          position: relative;
          color: #FFFFFF;
          margin-left: 5px;
          font-weight: 400;
          line-height: 18px;
          cursor: pointer; }
          .first-block .outer-contact-icons .contact-icons a p:before {
            content: '';
            position: absolute;
            left: -52px;
            top: 0;
            width: 53px;
            height: 39px; }
            @media (max-width: 800px) {
              .first-block .outer-contact-icons .contact-icons a p:before {
                top: 3px;
                left: -43px;
                width: 49px;
                height: 35px; } }
            @media (max-width: 700px) {
              .first-block .outer-contact-icons .contact-icons a p:before {
                top: 2px;
                left: -38px;
                width: 47px;
                height: 33px; } }
          .first-block .outer-contact-icons .contact-icons a p:hover {
            color: #681D7E; }
          @media (max-width: 800px) {
            .first-block .outer-contact-icons .contact-icons a p {
              font-size: 13px; } }
          @media (max-width: 700px) {
            .first-block .outer-contact-icons .contact-icons a p {
              font-size: 12px; } }
        .first-block .outer-contact-icons .contact-icons a .tg-icon:before {
          background: url(../assets/images/telegram-icon.svg) left top/contain no-repeat; }
        .first-block .outer-contact-icons .contact-icons a .tg-icon:hover:before {
          background: url(../assets/images/telegram-icon-hover.svg) left top/contain no-repeat; }
        .first-block .outer-contact-icons .contact-icons a .wb-icon:before {
          background: url(../assets/images/weibo-icon.svg) left top/contain no-repeat; }
        .first-block .outer-contact-icons .contact-icons a .wb-icon:hover:before {
          background: url(../assets/images/weibo-icon-hover.svg) left top/contain no-repeat; }
        .first-block .outer-contact-icons .contact-icons a .tw-icon:before {
          background: url(../assets/images/twitter-icon.svg) left top/contain no-repeat; }
        .first-block .outer-contact-icons .contact-icons a .tw-icon:hover:before {
          background: url(../assets/images/twitter-icon-hover.svg) left top/contain no-repeat; }
        .first-block .outer-contact-icons .contact-icons a .bn-icon:before {
          background: url(../assets/images/binance-icon.svg) left top/contain no-repeat; }
        .first-block .outer-contact-icons .contact-icons a .bn-icon:hover:before {
          background: url(../assets/images/binance-icon-hover.svg) left top/contain no-repeat; }
        .first-block .outer-contact-icons .contact-icons a .md-icon:before {
          background: url(../assets/images/medium-icon.svg) left top/contain no-repeat; }
        .first-block .outer-contact-icons .contact-icons a .md-icon:hover:before {
          background: url(../assets/images/medium-icon-hover.svg) left top/contain no-repeat; }
        .first-block .outer-contact-icons .contact-icons a:nth-last-child(1) {
          margin-right: 30px; }
          @media (max-width: 880px) {
            .first-block .outer-contact-icons .contact-icons a:nth-last-child(1) {
              margin-right: 0; } }
      .first-block .outer-contact-icons .contact-icons .icon {
        width: 42px;
        height: 42px;
        background: url(../assets/images/medium-icon.svg) center/cover no-repeat;
        float: left;
        cursor: pointer;
        display: inline-block;
        margin-right: 15px; }
        .first-block .outer-contact-icons .contact-icons .icon:nth-last-child(1) {
          margin-right: 0; }
        .first-block .outer-contact-icons .contact-icons .icon:hover {
          opacity: .8; }
        .first-block .outer-contact-icons .contact-icons .icon a {
          color: #fff; }
      .first-block .outer-contact-icons .contact-icons p {
        line-height: 20px;
        font-size: 15px;
        font-weight: 500;
        text-align: left;
        color: #FFFFFF; }
      @media (min-width: 1025px) {
        .first-block .outer-contact-icons .contact-icons {
          width: 91.777777%;
          margin-left: 8.333333%; } }
      @media (max-width: 800px) {
        .first-block .outer-contact-icons .contact-icons {
          padding-left: 30px; } }
      @media (max-width: 640px) {
        .first-block .outer-contact-icons .contact-icons {
          display: none; } }
  .first-block .phone {
    position: absolute;
    width: 87%;
    height: 86vh;
    bottom: 0;
    right: 5%;
    z-index: 4;
    background: url(../assets/images/phone.png) right bottom/contain no-repeat; }
    @media (max-width: 980px) {
      .first-block .phone {
        right: 2%;
        width: 60vh;
        height: 81vh;
        background: url(../assets/images/phone.png) right bottom/100% 100% no-repeat; } }
    @media (max-width: 480px) {
      .first-block .phone {
        height: 57vh;
        width: 90%;
        right: unset;
        background: url(../assets/images/phone.png) center/contain no-repeat; } }
  @media (max-width: 620px) {
    .first-block {
      background: url(../assets/images/main-background-sm.png) center/cover no-repeat; } }

.what-is-tael-block {
  position: relative;
  padding-top: 80px; }
  .what-is-tael-block a {
    color: #1C1D1E;
    text-decoration: underline; }
    .what-is-tael-block a:hover {
      text-decoration: none; }
  .what-is-tael-block .wechat-link {
    position: relative;
    margin-right: 26px;
    padding-left: 20px;
    line-height: 20px;
    color: #2DC100;
    text-decoration: none;
    background: url(../assets/images/wechat-icon.svg) left center no-repeat;
    background-size: 18px 20px;
    font-weight: 300; }
    .what-is-tael-block .wechat-link:hover {
      text-decoration: underline; }
  .what-is-tael-block h2 {
    color: #1C1D1E;
    text-align: center; }
  .what-is-tael-block p {
    max-width: 600px;
    color: #1C1D1E;
    text-align: center;
    margin: 30px auto 50px; }
    @media (max-width: 480px) {
      .what-is-tael-block p {
        margin: 30px auto 40px; } }
  .what-is-tael-block .phone {
    height: 560px;
    width: 500px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background: url(../assets/images/phone2.png) top center/contain no-repeat; }
    @media (max-width: 500px) {
      .what-is-tael-block .phone {
        width: calc(100vw - 30px);
        height: 100vw; } }
    .what-is-tael-block .phone p {
      position: absolute;
      width: 35vh;
      top: 63%;
      left: 9%;
      right: 27px;
      margin: 0 auto;
      font-size: 17px;
      line-height: 29px;
      color: #6B747D;
      text-align: left; }
      @media (max-width: 500px) {
        .what-is-tael-block .phone p {
          width: 50vw;
          left: 3%;
          top: 60vw;
          font-size: 4.2vw;
          line-height: 6vw; } }
  @media (max-width: 480px) {
    .what-is-tael-block {
      padding-top: 35px; } }

.flow-block {
  position: relative;
  padding: 70px 0;
  background-color: #F7F8FB; }
  .flow-block h2 {
    color: #1C1D1E;
    text-align: center; }
  .flow-block img {
    display: block;
    max-width: 600px !important;
    margin: 20px auto 0; }
  .flow-block p {
    max-width: 600px;
    color: #1C1D1E;
    text-align: center;
    margin: 0 auto; }
  .flow-block .carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .1s;
    transition-property: opacity; }
  .flow-block .carousel-fade .carousel-item.active,
  .flow-block .carousel-fade .carousel-item-next.carousel-item-left,
  .flow-block .carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1; }
  .flow-block .carousel-fade .active.carousel-item-left,
  .flow-block .carousel-fade .active.carousel-item-right {
    opacity: 0; }
  .flow-block .carousel-fade .carousel-item-next,
  .flow-block .carousel-fade .carousel-item-prev,
  .flow-block .carousel-fade .carousel-item.active,
  .flow-block .carousel-fade .active.carousel-item-left,
  .flow-block .carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0); }
  .flow-block .carousel-caption {
    position: relative;
    left: auto;
    right: auto; }
  .flow-block .carousel-indicators {
    bottom: -28px; }
  .flow-block .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #D9E1F9; }
  .flow-block .carousel-indicators .active {
    background: #5661E8; }
  @media (max-width: 480px) {
    .flow-block {
      padding: 35px 0 60px; } }

.advantages-section {
  position: relative;
  background-color: #FFFFFF; }
  .advantages-section .row-no-margin {
    margin-left: unset !important; }
  .advantages-section .advantages-block h3 {
    color: #1C1D1E;
    text-align: left;
    margin-bottom: 30px; }
    @media (max-width: 1240px) {
      .advantages-section .advantages-block h3 {
        font-size: 48px !important;
        line-height: 58px !important; } }
    @media (max-width: 768px) {
      .advantages-section .advantages-block h3 {
        text-align: center; } }
  .advantages-section .advantages-block .advantage-image {
    width: 100%; }
  .advantages-section .advantages-block .advantage-image:after {
    content: "";
    display: block;
    padding-bottom: 100%; }
    @media (max-width: 768px) {
      .advantages-section .advantages-block .advantage-image:after {
        padding-bottom: 70%; } }
  .advantages-section .advantages-block .img-1 {
    background: url(../assets/images/advantages1.png) center/cover no-repeat; }
  .advantages-section .advantages-block .img-2 {
    background: url(../assets/images/advantages2.png) center/cover no-repeat; }
  .advantages-section .advantages-block .img-3 {
    background: url(../assets/images/advantages3.png) center/cover no-repeat; }
  .advantages-section .advantages-block p {
    color: #1C1D1E;
    text-align: left;
    margin: 0; }
    .advantages-section .advantages-block p .blue-text {
      color: #5661E8; }
    @media (max-width: 1240px) {
      .advantages-section .advantages-block p {
        font-size: 18px !important;
        line-height: 26px !important; } }
    @media (max-width: 768px) {
      .advantages-section .advantages-block p {
        text-align: center;
        margin: 20px 0; } }
  .advantages-section .advantages-block .unordered-list {
    position: relative;
    margin: 12px 0;
    display: table;
    text-align: left; }
    .advantages-section .advantages-block .unordered-list:before {
      content: "";
      position: absolute;
      height: 10px;
      width: 10px;
      top: 15px;
      left: -28px;
      background-color: #FF5847;
      border-radius: 50%; }
      @media (max-width: 1240px) {
        .advantages-section .advantages-block .unordered-list:before {
          top: 10px; } }
      @media (max-width: 920px) {
        .advantages-section .advantages-block .unordered-list:before {
          left: -23px; } }
    .advantages-section .advantages-block .unordered-list:nth-last-child(2) {
      margin-bottom: 30px; }
      @media (max-width: 1240px) {
        .advantages-section .advantages-block .unordered-list:nth-last-child(2) {
          margin-bottom: 20px; } }
    @media (max-width: 1240px) {
      .advantages-section .advantages-block .unordered-list {
        margin: 10px 0; } }
    @media (max-width: 768px) {
      .advantages-section .advantages-block .unordered-list {
        margin: 12px auto;
        width: 85%; } }
  .advantages-section .advantages-block span {
    font-weight: 400;
    color: #1C1D1E; }
  .advantages-section .advantages-block .advantages-text {
    padding: 0 13% 8%;
    cursor: pointer; }
    .advantages-section .advantages-block .advantages-text a {
      color: #1C1D1E;
      text-decoration: underline; }
      .advantages-section .advantages-block .advantages-text a:hover {
        text-decoration: none; }
    .advantages-section .advantages-block .advantages-text:hover {
      color: #681D7E; }
    @media (max-width: 1240px) {
      .advantages-section .advantages-block .advantages-text {
        padding: 0 10% 8%; } }
    @media (max-width: 768px) {
      .advantages-section .advantages-block .advantages-text {
        text-align: center;
        margin-top: 30px;
        padding: 0 0 6%; } }
  .advantages-section .advantages-block [class*='col-lg-6'] {
    padding-right: 0;
    padding-left: 0; }

.loyalty-system-section {
  position: relative;
  padding: 70px 8% 100px;
  background-color: #F7F8FB; }
  .loyalty-system-section .loyalty-system-blocks {
    margin-top: 100px; }
    .loyalty-system-section .loyalty-system-blocks p {
      color: #1C1D1E;
      text-align: left;
      margin: 0;
      font-size: 16px;
      line-height: 24px; }
      @media (max-width: 768px) {
        .loyalty-system-section .loyalty-system-blocks p {
          text-align: center;
          width: 80%;
          margin: 0 auto 40px; } }
    @media (max-width: 768px) {
      .loyalty-system-section .loyalty-system-blocks {
        margin-top: 50px; } }
  .loyalty-system-section h2 {
    color: #1C1D1E;
    text-align: center;
    font-size: 54px;
    line-height: 62px; }
  .loyalty-system-section h4 {
    width: 200px;
    margin: 28px 0 22px; }
    @media (max-width: 768px) {
      .loyalty-system-section h4 {
        width: 100%;
        text-align: center; } }
  .loyalty-system-section img {
    display: block;
    width: 70px;
    height: 70px;
    -webkit-filter: drop-shadow(18px 18px 25px rgba(0, 0, 0, 0.280571));
    filter: drop-shadow(18px 18px 25px rgba(0, 0, 0, 0.280571)); }
    @media (max-width: 768px) {
      .loyalty-system-section img {
        margin: 0 auto; } }
  @media (max-width: 1050px) {
    .loyalty-system-section {
      padding: 70px 30px 100px; } }
  @media (max-width: 480px) {
    .loyalty-system-section {
      padding: 40px 0; } }

.meet-team-section {
  position: relative;
  padding: 70px 0 100px;
  background-color: #FFFFFF; }
  .meet-team-section h2 {
    color: #1C1D1E;
    text-align: center;
    margin-bottom: -8px; }
  .meet-team-section a {
    display: block;
    max-width: 600px;
    color: #1C1D1E;
    text-align: center;
    margin: 5px auto 20px; }
    @media (max-width: 480px) {
      .meet-team-section a {
        margin: 3px auto 10px; } }
  .meet-team-section .team-member {
    height: 370px;
    width: 100%;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 35px 15px;
    margin-top: 30px;
    background-color: #FFFFFF; }
    .meet-team-section .team-member img {
      display: block;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin: 0 auto;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.100855); }
  .meet-team-section .card-container {
    font-family: 'Open Sans', sans-serif !important;
    display: inline-block;
    width: 100%;
    min-height: 400px;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    color: #1C1D1E !important; }
  .meet-team-section .team-member {
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative; }
    .meet-team-section .team-member:hover {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg); }
  .meet-team-section .front, .meet-team-section .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 400px;
    overflow: hidden; }
  .meet-team-section .front {
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 2; }
    .meet-team-section .front .member-info {
      margin-top: 15px; }
  .meet-team-section .back {
    width: 100%;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    z-index: 1; }
    .meet-team-section .back .member-info {
      margin-top: 35px;
      color: #1C1D1E !important; }
  .meet-team-section .member-info .member-name {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    color: #1C1D1E !important;
    margin: 0; }
  .meet-team-section .member-info .member-job {
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    color: #1C1D1E !important;
    margin-top: 5px; }
  .meet-team-section .member-info .member-desc {
    width: 82%;
    max-height: 172px;
    overflow: hidden;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    color: #1C1D1E !important;
    margin: 5px auto 0; }
  @media (max-width: 992px) {
    .meet-team-section {
      padding: 60px 0; } }
  .meet-team-section .card-container:hover .team-member, .meet-team-section .card-container.hover .team-member {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  .meet-team-section .card-container:hover .team-member .front, .meet-team-section .card-container.hover .team-member .front {
    z-index: 1;
    color: #1C1D1E !important; }
  .meet-team-section .card-container:hover .team-member .back, .meet-team-section .card-container.hover .team-member .back {
    z-index: 2;
    color: #1C1D1E !important; }

.news-section {
  position: relative;
  padding: 60px 0;
  background-color: #F7F8FB; }
  .news-section h2 {
    color: #1C1D1E;
    text-align: center; }
  .news-section .news-block {
    height: 480px;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 45px 45px 35px;
    margin: 70px 15px 30px 0;
    background-color: #FFFFFF; }
    .news-section .news-block h4 {
      margin-bottom: 22px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical; }
    .news-section .news-block p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical; }
      @media (max-width: 480px) {
        .news-section .news-block p {
          padding-left: 15px; } }
  .news-section .slick-list {
    padding-left: 30px;
    padding-bottom: 40px; }
    @media (max-width: 480px) {
      .news-section .slick-list {
        padding-left: 15px; } }
  .news-section .slick-slide {
    outline: 0 !important; }
  .news-section .slick-next, .news-section .slick-prev {
    height: 48px !important;
    width: 48px !important;
    top: unset !important;
    background: url(../assets/images/arrow-icon.svg) center/contain no-repeat !important;
    z-index: 20; }
    @media (max-width: 620px) {
      .news-section .slick-next, .news-section .slick-prev {
        height: 40px !important;
        width: 40px !important; } }
  .news-section .slick-prev {
    right: unset !important;
    left: 26% !important;
    bottom: -33px !important;
    transform: rotate(180deg); }
    @media (max-width: 920px) {
      .news-section .slick-prev {
        left: 18% !important; } }
    @media (max-width: 620px) {
      .news-section .slick-prev {
        left: 5% !important;
        bottom: -30px !important; } }
  .news-section .slick-next {
    right: 26% !important;
    left: unset !important;
    bottom: -57px !important; }
    @media (max-width: 920px) {
      .news-section .slick-next {
        right: 18% !important; } }
    @media (max-width: 620px) {
      .news-section .slick-next {
        right: 5% !important;
        bottom: -50px !important; } }
  .news-section .slick-next:before,
  .news-section .slick-prev:before {
    content: "" !important;
    width: 50px;
    height: 50px; }
  .news-section .slick-dots {
    width: fit-content;
    text-align: right !important;
    padding-right: 0;
    bottom: -20px !important;
    z-index: 19;
    right: 0;
    left: 0;
    margin: 0 auto; }
  @media (max-width: 480px) {
    .news-section .slick-dots li {
      margin: 0 2px; } }
  .news-section .slick-dots li button:before {
    font-size: 11px !important;
    color: #D9E1F9;
    opacity: 1; }
    @media (max-width: 480px) {
      .news-section .slick-dots li button:before {
        width: 15px; } }
  .news-section .slick-dots li.slick-active button:before {
    color: #5661E8;
    opacity: 1; }
  .news-section .top-info {
    height: 15%; }
    .news-section .top-info img {
      height: 36px;
      max-width: 100%;
      object-fit: contain; }
    .news-section .top-info .news-date {
      text-align: right; }
  .news-section .middle-info {
    height: 68%;
    margin-bottom: 5%;
    overflow: hidden; }
  .news-section .bottom-info {
    height: 12%; }

.brands-section {
  position: relative;
  padding: 60px 0;
  background-color: #FFFFFF; }
  .brands-section h2 {
    color: #1C1D1E;
    text-align: center; }
  .brands-section img {
    display: block;
    width: 100%;
    margin: 80px auto; }
    .brands-section img .d-sm-none {
      width: 85%; }
    @media (max-width: 480px) {
      .brands-section img {
        margin: 40px 0; } }
  .brands-section .blue-btn {
    display: block;
    margin: 0 auto; }
  @media (max-width: 480px) {
    .brands-section {
      padding: 40px 0 60px; } }

.contact-section {
  position: relative;
  padding: 60px 0;
  background-color: #F7F8FB; }
  .contact-section h2 {
    color: #1C1D1E;
    text-align: center; }
  .contact-section p {
    color: #1C1D1E;
    text-align: center;
    margin: 22px 0 20px; }
  .contact-section form {
    margin: 0 auto; }
    .contact-section form label {
      color: #6B747D;
      font-weight: 300; }
    .contact-section form .blue-btn {
      display: block;
      margin: 50px auto 0; }
    .contact-section form .form-control:focus {
      border: 1px solid #6B747D;
      box-shadow: none; }

.footer {
  position: relative;
  padding: 10px 0 30px;
  background-color: #F7F8FB; }
  .footer .title {
    font-size: 20px;
    font-weight: 900;
    color: #1C1D1E;
    padding-bottom: 24px;
    border-bottom: 1px solid #6B747D; }
    @media (max-width: 576px) {
      .footer .title {
        font-size: 28px;
        text-align: center; } }
  .footer .copyright {
    color: #6B747D;
    font-weight: 300; }
    @media (max-width: 576px) {
      .footer .copyright {
        text-align: center;
        margin: 25px 0 35px; } }
  .footer .social-icons {
    float: right;
    margin-top: 5px;
    max-width: 350px;
    min-width: 300px;
    display: flex;
    justify-content: space-between; }
    .footer .social-icons a {
      width: 40px;
      height: 40px; }
      .footer .social-icons a:hover {
        text-decoration: none;
        opacity: 0.7; }
    @media (max-width: 576px) {
      .footer .social-icons {
        float: unset;
        margin: 15px auto 0; } }
  @media (max-width: 992px) {
    .footer {
      padding: 10px 0; } }

.btn-try {
  padding: 0 7%; }

.violet-link {
  color: violet; }

@media (min-width: 576px) {
  .container {
    max-width: unset; } }
@media (min-width: 768px) {
  .container {
    max-width: unset; } }
@media (min-width: 992px) {
  .container {
    max-width: unset; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }

/*# sourceMappingURL=styles.css.map */
